<div class="page-header">
  <%= link_to new_patient_list_patient_encounter_path(@patient_list, @patient), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Encounter
  <% end %>
  <%= link_to patient_list_path(@patient_list), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show patient</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @patient.name %></dd>

  <dt>Personal data:</dt>
  <dd><%= @patient.personal_data %></dd>

  <dt>First name:</dt>
  <dd><%= @patient.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @patient.last_name %></dd>

</dl>


<h3>Encounter #<%= @encounter.id %></h3>
<table class="table">
  <tr>
    <th>Title</th>
    <td><%= @encounter.title %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= @encounter.signed_date.to_date %></td>
  </tr>
  <tr>
    <th>Content</th>
    <td><%= @encounter.content %></td>
  </tr>
  <tr>
    <th>Tags</th>
    <td>
      <% @encounter.tags.each do |tag| %>
        <%= tag.name %>, 
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= link_to "Create New Tag", new_tag_path, class: "btn btn-default" %>
      <%= link_to "Edit Tag", edit_patient_list_patient_encounter_path(@patient_list, @patient, @encounter), class: "btn btn-success" %>
    </td>
  </tr>
</table>

<div>
  <nav>
    <ul class="pagination">
      <li>
        <%= link_to "Previous", prev_patient_list_patient_encounter_path(@patient_list, @patient, @encounter) %>
      </li>
      <li>
        <%= link_to "Next", next_patient_list_patient_encounter_path(@patient_list, @patient, @encounter) %>
      </li>
    </ul>
  </nav>
</div>


